:root {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  min-height: 100%;
  width: 100%;
  background: url("https://images.pexels.com/photos/1323712/pexels-photo-1323712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.favbtn {
  margin: 15px 60px;
  padding: 5px;
  width: 150px;
  border: 1px solid rgb(179, 67, 67);
  border-radius: 7px;
  color: rgb(179, 67, 67);
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
}
.search-bar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: lightgray;
  margin-bottom: 2rem;
  padding: 0.6rem;
  align-items: center;
  z-index: 1;
}

#logo-pic-category {
  height: 6rem;
  width: auto;
  position: fixed;
  top: 0.1rem;
  left: 1rem;
}

#category-body {
  display: flex;
  /* justify-content: center; */
  padding-top: 11rem;
}

button {
  border: 1px solid rgb(134, 134, 134);
  border-radius: 10px;
  margin: 0rem 2rem 1.5rem 1.5rem;
  padding: 1rem;
  list-style-type: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: rgb(94, 94, 94);
  display: flex;
  align-items: center;
  height: 25rem;
  width: 45rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

img {
  width: 15rem;
  height: auto;
  margin: 1rem 3rem 1rem 1rem;
}

button:hover {
  transform: scale(1.06);
}

#background-red {
  background-color: rgb(179, 67, 67);
  color: white;
}

#venue-details-column {
  position: relative;
  left: 100%;
}

.searchItem {
  background: white;
  position: relative;
}
.fav-item {
  border: 1px solid rgb(134, 134, 134);
  border-radius: 10px;
  margin: 0rem 2rem 1.5rem 1.5rem;
  padding: 1rem;
  list-style-type: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: rgb(94, 94, 94);
  display: flex;
  align-items: center;
  height: 25rem;
  width: 45rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin: 30px auto;
}

#displayColumn {
  position: relative;
  left: 10%;
}

#back-btn {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  width: 120px;
  margin: 0 auto;
  margin-top: 15px;
}

.list-item img {
  max-height: 200px;
}

#map {
  position: fixed;
  right: 10%;
}
