:root {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  font-size: 1.6rem;
  min-height: 100%;
  width: 100%;
  background: url("https://i.ebayimg.com/images/g/Mh4AAOSwlUhbjBHg/s-l1600.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(68, 68, 68);
  background-blend-mode: screen;
}

#logo-pic-venue {
  height: 6rem;
  width: auto;
  position: fixed;
  top: 0.1rem;
  left: 1rem;
}

#venue-page {
  padding-top: 11rem;
  display: flex;
  justify-content: center;
}

#venue-details-column {
  display: inline-block;
  position: absolute;
  left: 15%;
}

h2 {
  font-size: 3rem;
}

.specific-venue-image {
  height: 20rem;
  width: auto;
}

/* #map {
  margin-left: 1rem;
} */

#specific-venue-details {
  font-size: 2rem;
}

#pizza {
  opacity: 0;
}
